/* Table one color */
.e-table1 .e-button,.e-table1:hover .e-table-head,
.e-table1 .e-button,.e-table1.active .e-table-head{
	background:#133B66
}
.e-table1:hover .e-table-head:before,
.e-table1.active .e-table-head:before{
	border-top-color:#133B66;
}
.e-table1 .e-table-list li:hover i{
	color:#133B66;
}
/* Table Two Color */
.e-table2:hover .e-table-head,
.e-table2.active .e-table-head{
	background:#133B66;
}
.e-table2:hover .e-button,
.e-table2.active .e-button{
	background:#133B66;
}

/* Table Three Color */
.e-table3:hover .e-table-head,
.e-table3.active .e-table-head,
.e-table3.active .e-table-bottom{
	background:#133B66;
}
.e-table3:hover .amount,
.e-table3.active .amount{
	color:#133B66;
}
.e-table3:hover .e-table-bottom{
	background:#133B66;
}

/* Table Four color */
.e-table4 .price .amount{
	color: #133B66;
}
.e-table4 .e-button{
	background: #133B66;
}
.e-table4:hover .title{
	color:#133B66;
}
.e-table4 .p-best {
	background: #133B66;
}
/* Table Five color */
.e-table5.active .e-button,.e-table5.active .price,
.e-table5:hover .e-button,.e-table5:hover .price{
	background:#133B66;
}